<!DOCTYPE html>
<html>
<head>
    <title>Marren-Prompt</title>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Jersey+15&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/css/index.css" >
  <script src="https://unpkg.com/htmx.org@1.9.12"></script>
</head>
<body>
    <h1 class="jersey-15-regular">Marren-Prompt</h1>
    {{ template "color-block" . }}
</body>
</html>


{{ define "color-block" }}
<div id="color-block" style="transition: all ease-in-out 1s; width: 98%; height: 500px; margin-left: 1%; background-color: #5836ad" ></div>
{{ end }}



