{{ define "create-account" }}


<div id="page-content" hx-ext="response-targets">
  <script defer src="https://unpkg.com/htmx-ext-response-targets@2.0.0/response-targets.js"></script>

  <style id="transition-styles">
    @keyframes slide-in-from-left {
      0% {
        translate: -100vw 0;
      }

      100% {
        translate: 0 0;
      }
    }

    #page-content {
      animation-name: slide-in-from-left;
      animation-duration: 1s;
      animation-timing-function: cubic-bezier(0.71, -0.01, 0.41, 1);
    }
  </style>
  <style>
    * {
      font-family: Aruma;
    }

    #page-content {
      color: #0e6080;
      padding: 40px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
    }

    form {
      padding: 20px;
      gap: 15px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: right;
      font-size: 30px;
    }

    span {
      font-size: 50px;
      font-family: Cheto;
    }

    input[type=text],
    input[type=email],
    input[type=password] {
      flex-grow: 1;
      padding: 3px;
      height: 30px;
      font-size: 20px;
      border-radius: 5px;
      border: 2px solid #0e6080;
      background-color: antiquewhite;
    }


    .form-item {
      width: 100%;
      align-items: center;
      display: flex;
      gap: 20px;
    }

    button {
      color: white;
      font-family: Aruma;
      border-radius: 5px;
      background-color: seagreen;
      font-size: 25px;
    }

    button:hover {
      background-color: darkolivegreen;
    }

    button:active {
      transform: scale(0.98);
    }

    #page-back-btn {
      align-self: start;
      padding: 5px;
      padding-right: 15px;
      padding-bottom: 7.5px;
    }

    button[type=submit] {
      width: 100%;
      padding: 10px;
    }
  </style>

  <button id="page-back-btn" hx-get="/" hx-swap="outerHTML" hx-target="#page-content" hx-push-url="/">
    &larr;Back
  </button>

  <script>
    document.addEventListener('htmx:afterRequest', e => {
      if (!e.detail.xhr.status.toString().startsWith('2')) {
        let errorDiv = document.getElementById("create-account-error");
        errorDiv.innerHTML = e.detail.xhr.responseText;
        errorDiv.style.display = 'block';
      }
    });
  </script>


  <span id="create-account-title">Create Account</span>
  <form id="create-account-form" hx-post="/create-account-submit" hx-target="#page-content" hx-swap="outerHTML"
    hx-target-5*="#create-account-error" hx-target-error="next #create-acount-error">
    <div class="form-item">
      <label for="username">
        Username
      </label>
      <input type="text" id="username" name="username" required>
    </div>
    <div class="form-item">
      <label for="password">
        Password
      </label>
      <input type="password" id="password" name="password" required>
    </div>
    <div class="form-item">
      <label for="email">
        Email
      </label>
      <input type="email" id="email" name="email" required>
    </div>

    <div class="form-item">
      <button type="submit">
        Let's go!
      </Button>

    </div>
  </form>
  <div id="create-account-error" style="display:block;"></div>
</div>




{{ end }}
