{{ define "create-game" }}

<script src="https://unpkg.com/htmx.org@1.9.12/dist/ext/response-targets.js"></script>



<div id="page-content" hx-ext="response-targets">

  <style id="transition-styles"></style>
  <style id="static-styles">
    #page-content {
      border: 2px solid black;
      padding: 20px;
      display: block;
    }

    #create-game-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: lightcyan;
      border: 2px solid black;
      border-radius: 10px;
      box-shadow: 5px 5px black;
      font-family: Aruma;
      font-size: 25px;
      padding: 50px 0px 50px 0px;
      gap: 30px;
      margin: 20px 40px 20px 40px;
    }

    form {
      width: 300px;
      display: flex;
      flex-direction: column;
      gap: 30px;
      align-items: center;
    }

    input {
      height: 30px;
      font-size: 20px;
      border-radius: 5px;
      border: 2px solid #0e6080;
      background-color: antiquewhite;
      width: 100%;
      font-family: Aruma;
      padding: 20px 15px 20px 15px;
      color: darkgreen;
    }

    button {
      font-family: Aruma;
      font-size: 20px;
      padding: 10px 5px;
      background-color: seagreen;
      border-radius: 10px;
      color: antiquewhite;
      width: 50%;
    }

    #create-game-error {
      color: red;
      font-size: 15px;
    }

    h2 {
      padding: 0;
      margin: 0;
    }
  </style>

  <div id="create-game-container">
    <h2>
      Choose a name for your game
    </h2>
    <form>
      <input type="text" name="game-name" placeholder="Marren family game" />
      <button hx-post="/auth/games" hx-target="#page-content" hx-target-error="#create-game-error">
        Next
      </button>
    </form>
    <div id="create-game-error">
    </div>
  </div>


</div>


{{ end }}
