{{ define "create-game" }}
<script src="/static/js/button-component.js"></script>
<style>
  #page-content {
    display: block;
    border: 2px solid black;
    padding: 25px;
  }

  #header {
    font-family: Cheto;
    font-size: 35px;
  }

  #subcontainer {
    display: flex;
    background-color: orange;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 5px 5px black;
    font-family: Cheto;
    padding: 15px;
  }

  input {
    border-radius: 5px;
    background-color: antiquewhite;
  }

  form {
    flex-grow: 1;
    padding: 20px;
    gap: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  #subcontainer-left {
    gap: 5px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }

  #subcontainer-right {
    gap: 5px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }

  #form-fields {
    display: flex;
  }


  .item {
    display: flex;
    align-items: center;
    gap: 5px;
  }
</style>
<div id="page-content">
  <h1 id="header">
    Create a New Game
  </h1>
  <div id="subcontainer">

    <form>

      <div id="form-fields">
        <div id="subcontainer-left">
          <div class="item">
            <label>
              Choose a Name
            </label>
            <input type="text">
          </div>


          <div class="item">
            <label>
              Invite friends
            </label>
            <input type="text">
          </div>
        </div>

        <div id="subcontainer-right">
          <div class="item">
            <label>
              First Question
            </label>
            <input type="text">
          </div>


          <div class="item">
            <label>
              Option 1
            </label>
            <input type="text">
          </div>


          <div class="item">
            <label>
              Option 2
            </label>
            <input type="text">
          </div>

          <div class="item">
            <label>
              Option 3
            </label>
            <input type="text">
          </div>


          <div class="item">
            <label>
              Option 4
            </label>
            <input type="text">
          </div>
        </div>
      </div>

      <button-component>
        <button slot="button" type="submit">
          Create
        </button>
      </button-component>

    </form>
  </div>

</div>

{{ end }}
