{{ define "fade-out"}}

<div id="temp-{{ .Data.TargetPage}}" hx-trigger="htmx:afterSettle delay:1s" hx-get="/auth/{{ .Data.TargetPage }}"
  hx-target="#page-container" hx-swap="innerHTML" preload="preload:init">
</div>
<style>
  @keyframes fade-out {
    0% {
      opacity: 100%;
      transform: scale(1);
    }

    100% {
      opacity: 0%;
      transform: scale(0.8);
    }
  }

  #page-content {
    animation-name: fade-out;
    animation-fill-mode: forwards;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(0.71, -0.01, 0.41, 1);
  }
</style>


{{ end }}
