{{ define "friends" }}
<div id="page-content">
  <style id="transition-styles">
    @keyframes slide-in-from-left {
      0% {
        translate: -100vw 0;
      }

      100% {
        translate: 0 0;
      }
    }


    #page-content {
      animation-name: slide-in-from-left;
      animation-duration: 1s;
      animation-timing-function: cubic-bezier(0.71, -0.01, 0.41, 1);
    }
  </style>
  <style id="static-styles">
    #page-content {
      display: block;
      padding: 25px;
    }

    h1 {
      font-family: Cheto;
    }

    #search-friends-container {
      padding: 20px;
      display: flex;
      flex-direction: column;
      background-color: skyblue;
      border: 2px solid black;
      box-shadow: 5px 5px black;
      border-radius: 10px;
    }

    #search-bar-container {
      background-color: peachpuff;
      height: 30px;
      border: 2px solid black;
      border-radius: 10px;
      display: flex;
      padding: 7.5px;
    }

    #search-input {
      font-family: Aruma;
      font-size: 25px;
      flex-grow: 1;
      background: transparent;
      border: none;
      outline: none;
    }

    #search-input:focus:hover {
      border: none;
      outline: none;
    }

    #search-icon {
      display: block;
      justify-self: end;
    }

    .table {
      font-family: Aruma;
      font-size: 20px;
    }


    thead,
    tfoot {
      background-color: rgb(228 240 245);
    }

    tr {
      border: 2px solid blue;
    }

    .user-container {
      display: flex;
      align-items: center;
      justify-content: space-around;
    }



    .photo-container {
      overflow: hidden;
      object-fit: contain;
      position: relative;
      width: 30px;
      height: 30px;
    }

    .profile-photo-image {
      left: 0;
      position: absolute;
      width: 30px;
      height: 30px;
      object-fit: cover;
    }

    .crop-filter {
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      background-color: skyblue;
      mask: radial-gradient(transparent 0%, transparent 69%, skyblue 70%);
      z-index: 5;
    }

    th {
      height: 40px;
    }




    #friend-requests-container,
    #my-friends-container {
      display: inline-block;
      padding: 20px;
    }

    .request-card {
      display: flex;
      border: 2px solid black;
      background-color: skyblue;
      border-radius: 10px;
      box-shadow: 5px 5px black;
      padding: 20px;
      font-family: Aruma;
      flex-direction: column;
      justify-content: space-between;
      font-size: 25px;
      align-items: center;
      gap: 10px;
    }

    .friend-card {
      display: flex;
      border: 2px solid black;
      background-color: skyblue;
      border-radius: 10px;
      box-shadow: 5px 5px black;
      padding: 20px;
      font-family: Aruma;
      flex-direction: column;
      justify-content: space-between;
      font-size: 25px;
      align-items: center;
      gap: 10px;
    }

    .photo-container {
      overflow: hidden;
      object-fit: contain;
      position: relative;
      width: 200px;
      height: 200px;
    }

    #search-results .photo-container {
      width: 30px;
      height: 30px;
    }

    .profile-photo-image {
      position: absolute;
      width: 200px;
      height: 200px;
      object-fit: cover;
    }

    #search-results .profile-photo-image {
      width: 30px;
      height: 30px;
    }

    .crop-filter {
      width: 100%;
      height: 100%;
      position: absolute;
      background-color: skyblue;
      mask: radial-gradient(transparent 0%, transparent 69%, skyblue 70%);
      z-index: 5;
    }

    button {
      font-family: Aruma;
      font-size: 20px;
      color: antiquewhite;
      padding: 5px;
      border-radius: 5px;
      border: 2px solid black;
      width: 100%;
    }

    .request-options {
      display: flex;
      width: 100%;
      flex-direction: column;
      gap: 10px;
      align-items: center;
      justify-content: center;
    }

    .accept-button {
      background-color: seagreen;
    }

    .decline-button {
      background-color: indianred;
    }

    .friend-card button {
      background-color: salmon;
    }
  </style>
  <!-- <h1> -->
  <!--   Friends -->
  <!-- </h1> -->
  {{ template "search-bar" }}

  <h1>
    Requests
  </h1>
  <div id="friend-requests-container">
    {{ range .FriendRequests }}
    <div class="request-card">
      <div class="photo-container">
        <img class="profile-photo-image"
          src="https://ask-away-s3-bucket.s3.us-west-1.amazonaws.com/public/{{ .FromUsername}}">
        <div class="crop-filter" hx-get="/auth/profile/ui/profile-photo" hx-target="#page-content">
        </div>
      </div>

      <div>
        {{ .FromUsername}}
      </div>
      <div class="request-options" id="request-from-{{.FromId}}">
        <button class="accept-button" hx-post="/auth/friends/friendships/{{ .FromId }}"
          hx-target="#request-from-{{.FromId}}">
          Accept
        </button>

        <button class="decline-button" hx-delete="/auth/friends/friend-requests/{{ .FromId }}"
          hx-target="#request-from-{{ .FromId }}">
          Decline
        </button>
      </div>

    </div>

    {{ end }}
  </div>
  <h1>
    My Friends
  </h1>

  <div id="my-friends-container">
    {{ range .Friends }}
    <div class="friend-card">
      <div class="photo-container">
        <img class="profile-photo-image"
          src="https://ask-away-s3-bucket.s3.us-west-1.amazonaws.com/public/{{ .Username}}">
        <div class="crop-filter">
        </div>
      </div>
      <div>
        {{ .Username }}
      </div>
      <button hx-get="/auth/friends/profiles/{{ .UserId }}" hx-target="#page-content">
        View Profile
      </button>
    </div>

    {{ end }}

  </div>
</div>

{{ end }}
