{{ define "friends" }}
<div id="page-content">
  <style id="transition-styles">
    @keyframes slide-in-from-left {
      0% {
        translate: -100vw 0;
      }

      100% {
        translate: 0 0;
      }
    }


    #page-content {
      animation-name: slide-in-from-left;
      animation-duration: 1s;
      animation-timing-function: cubic-bezier(0.71, -0.01, 0.41, 1);
    }
  </style>
  <style id="static-styles">
    #page-content {
      display: block;
      padding: 25px;
    }

    h1 {
      font-family: Cheto;
    }

    #friends-container {
      padding: 20px;
      display: flex;
      flex-direction: column;
      background-color: skyblue;
      border: 2px solid black;
      box-shadow: 5px 5px black;
      border-radius: 10px;
      height: 400px;
    }

    #search-bar-container {
      background-color: peachpuff;
      height: 30px;
      border: 2px solid black;
      border-radius: 10px;
      display: flex;
      padding: 7.5px;
    }

    #search-input {
      font-family: Aruma;
      font-size: 25px;
      flex-grow: 1;
      background: transparent;
      border: none;
      outline: none;
    }

    #search-input:focus:hover {
      border: none;
      outline: none;
    }

    #search-icon {
      display: block;
      justify-self: end;
    }

    .table {
      font-family: Aruma;
      font-size: 20px;
    }


    thead,
    tfoot {
      background-color: rgb(228 240 245);
    }

    tr {
      border: 2px solid blue;
    }



    .photo-container {
      overflow: hidden;
      object-fit: contain;
      position: relative;
      width: 30px;
      height: 30px;
    }

    .profile-photo-image {
      left: 0;
      position: absolute;
      width: 30px;
      height: 30px;
      object-fit: cover;
    }

    .crop-filter {
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      background-color: skyblue;
      mask: radial-gradient(transparent 0%, transparent 69%, skyblue 70%);
      z-index: 5;
    }

    th {
      height: 40px;
    }

    .user-container {
      display: flex;
      align-items: center;
      justify-content: space-around;
    }
  </style>
  <h1>
    Friends
  </h1>

  <form id="friends-container">
    <div id="search-bar-container">
      <input id="search-input" type="search" name="search" placeholder="Begin Typing To Search Users..."
        hx-post="/auth/friends/search" hx-trigger="input changed delay:500ms, search" hx-target="#search-results"
        hx-indicator=".htmx-indicator">

      <img id="search-icon" src="/static/public/search_icon.svg">


    </div>

    <table class="table">
      <!-- <thead> -->
      <!--   <tr> -->
      <!--     <th>Username</th> -->
      <!--     <th>Email</th> -->
      <!--   </tr> -->
      <!-- </thead> -->
      <tbody id="search-results">
      </tbody>
    </table>
  </form>

</div>


{{ end }}
