{{ define "games" }}

<div id="page-content">
  <style id="transition-styles">
    @keyframes slide-in-from-left {
      0% {
        translate: -100vw 0;
      }

      100% {
        translate: 0 0;
      }
    }

    #page-content {
      animation-name: slide-in-from-left;
      animation-duration: 1s;
      animation-timing-function: cubic-bezier(0.71, -0.01, 0.41, 1);
    }
  </style>
  <style id="static-styles">
    * {
      box-sizing: border-box;
    }

    #page-content {
      padding-top: 25px;
      padding-left: 25px;
      padding-right: 25px;
      display: block;
    }


    #top-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    h1 {
      font-family: Cheto;
    }

    button {
      background-color: seagreen;
      padding: 10px;
      font-family: Aruma;
      font-size: 20px;
      border-radius: 5px;
      color: antiquewhite;
    }

    button:hover {
      background-color: darkolivegreen;
    }



    table {
      width: 80vw;
      background-color: lightskyblue;
      box-shadow: 2.5px 2.5px black;
      border: 1.5px solid black;
      font-family: Aruma;
      padding-bottom: 10px;
      overflow: hidden;
      border-radius: 10px;
      border: 1.5px solid black;
      box-shadow: 2.5px 2.5px black;
      width: 100%;
      border-spacing: 0;
    }



    th,
    td {
      padding: 5px;
      font-size: 20px;
    }

    th {
      text-align: left;
    }

    thead {
      background-color: lightskyblue;
    }

    tbody tr:nth-child(odd) {
      background-color: #e0e0e0;
    }

    tbody tr:nth-child(even) {
      background-color: #ffffff;
    }

    tbody tr:nth-child(odd):hover {
      background-color: #c0e9fa;
    }

    tbody tr:nth-child(even):hover {
      background-color: #c0e9fa;
    }
  </style>
  <div id="top-container">
    <h1>
      Games
    </h1>

    <button hx-get="/auth/games/ui/create-game" hx-target="#page-content" hx-push-url="true">
      + Create New Game
    </button>

  </div>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Members</th>
        <th>Current Question</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>All Members</td>
        <td>1500</td>
        <td>What is the best day of the week?</td>
      </tr>
      {{ range .CurrentGames }}
      <tr hx-get="/auth/games/game/play/{{ .GameId }}" hx-target="#page-content" hx-push-url="true">
        <td>{{ .GameName}}</td>
        <td>{{ .GameTotalMembers}}</td>
        <td></td>
      </tr>
      {{ end }}
      <tr>
        <td>USF</td>
        <td>30</td>
        <td>Best dorm?</td>
      </tr>
    </tbody>
  </table>
  <button hx-get="/auth/games/all">
    get all games
  </button>

  <!-- Game Invites -->
  <style>
    h2 {
      font-family: Cheto;
    }

    #invites-container {
      display: flex;
      justify-content: start;
      gap: 10px;
    }

    .invite-card {
      font-family: Aruma;
      font-size: 25px;
      background-color: lightcyan;
      padding: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
    }

    .invite-card button {
      width: 100%;
    }

    .decline-button {
      background-color: indianred;
    }

    .buttons-container {
      display: flex;
      flex-direction: column;
      gap: 5px;
      width: 100%;
      align-items: center;
    }
  </style>
  <h2>
    Invites
  </h2>
  <div id="invites-container">
    {{ range .GameInvites }}
    <div class="invite-card card">

      <div>
        {{ .GameName }}
      </div>
      <div>
        From: {{ .CreatorName }}
      </div>
      <div class="buttons-container">
        <button class="accept-button" hx-post="/auth/games/game/players?game-id={{ .GameId }}"
          hx-target="closest .buttons-container">
          Join
        </button>

        <button class="decline-button" hx-delete="/auth/games/game/invites?game-id={{ .GameId }}"
          hx-target="closest .buttons-container">
          Decline
        </button>
      </div>
    </div>
    {{ end }}

  </div>
</div>

{{ end }}
