{{ define "games" }}
<style>
  * {
    box-sizing: border-box;
  }

  #content-container {
    padding-top: 25px;
    padding-left: 25px;
    padding-right: 25px;
    display: block;
  }


  #top-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  h1 {
    font-family: Cheto;

  }

  button {
    background-color: seagreen;
    padding: 10px;
    font-family: Aruma;
    font-size: 20px;
    border-radius: 5px;
    color: antiquewhite;
  }

  button:hover {
    background-color: darkolivegreen;
  }



  table {
    width: 80vw;
    background-color: lightskyblue;
    box-shadow: 2.5px 2.5px black;
    border: 1.5px solid black;
    font-family: Aruma;
    padding-bottom: 10px;
    overflow: hidden;
    border-radius: 10px;
    border: 1.5px solid black;
    box-shadow: 2.5px 2.5px black;
    width: 100%;
    border-spacing: 0;
  }



  th,
  td {
    padding: 5px;
    font-size: 20px;
  }

  th {
    text-align: left;
  }

  thead {
    background-color: lightskyblue;
  }

  tbody tr:nth-child(odd) {
    background-color: #e0e0e0;
  }

  tbody tr:nth-child(even) {
    background-color: #ffffff;
  }

  tbody tr:nth-child(odd):hover {
    background-color: #c0e9fa;
  }

  tbody tr:nth-child(even):hover {
    background-color: #c0e9fa;
  }
</style>

<div id="content-container">
  <div id="top-container">
    <h1>
      Games
    </h1>

    <button slot="button">
      + Create New Game
    </button>

  </div>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Members</th>
        <th>Current Question</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>All Members</td>
        <td>1500</td>
        <td>What is the best day of the week?</td>
      </tr>
      <tr>
        <td>Family</td>
        <td>7</td>
        <td>What is your favorite flavor of ice cream?</td>
      </tr>
      <tr>
        <td>USF</td>
        <td>30</td>
        <td>Best dorm?</td>
      </tr>
    </tbody>
  </table>
</div>

{{ end }}
