{{ define "index" }}
<script src="/static/js/button-component.js"> </script>

<div id="page-content">

  <style id="transition-styles">
    @keyframes slide-in-from-left {
      0% {
        translate: -100vw 0;
      }

      100% {
        translate: 0 0;
      }
    }

    #page-content {
      animation-name: slide-in-from-left;
      animation-duration: 1s;
      animation-timing-function: cubic-bezier(0.71, -0.01, 0.41, 1);
    }
  </style>
  <style id="static-styles">
    #page-content {
      width: 100%;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
    }

    h1 {
      color: darkslategray;
      width: 400px;
      font-family: Cheto;
      font-style: bold;
      text-align: center;
    }

    #buttons-container {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
  </style>
  <h1>
    Answer one question a day then vote for the best response!
  </h1>
  <div id="buttons-container">
    <button-component>
      <button slot="button" id="create-account-button" hx-get="/create-account" hx-target="#page-content"
        hx-push-url="true" hx-swap="outerHTML">
        Create An Account
      </button>
    </button-component>
    <button-component>
      <button slot="button" id="sign-in-button" hx-get="/sign-in" hx-target="#page-content" hx-push-url="true"
        hx-swap="outerHTML">
        Sign In
      </button>
    </button-component>
  </div>
</div>

{{ end }}
