{{ define "no-question-yet" }}

<div id="page-content">
  <style id="transition-styles">
    @keyframes slide-in-from-left {
      0% {
        translate: -100vw 0;
      }

      100% {
        translate: 0 0;
      }
    }

    #page-content {
      animation-name: slide-in-from-left;
      animation-duration: 1s;
      animation-timing-function: cubic-bezier(0.71, -0.01, 0.41, 1);
    }
  </style>
  <style id="static-styles">
    #page-content {
      width: 100%;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      padding-top: 20px;
    }

    #no-question {
      font-family: Cheto;
      font-size: 30px;
    }
  </style>
  <h1 id="no-question">
    Today's Asker hasn't posted a question yet...
  </h1>


</div>


{{ end }}
