{{ define "profile" }}

<div id="page-content">
  <style id="transition-styles">
    @keyframes slide-in-from-left {
      0% {
        translate: -100vw 0;
      }

      100% {
        translate: 0 0;
      }
    }

    #page-content {
      animation-name: slide-in-from-left;
      animation-duration: 1s;
      animation-timing-function: cubic-bezier(0.71, -0.01, 0.41, 1);
    }
  </style>
  <style id="static-styles">
    #page-content {
      display: block;
      padding: 25px;

    }

    h1 {
      font-family: Cheto;
      display: flex;
      flex-direction: column;
      margin: 0;
    }

    #profile-subcontainer {
      border: 2px solid black;
      display: flex;
      justify-content: space-between;
      gap: 20px;
      padding: 20px;
      background-color: seagreen;
      border-radius: 10px;
      box-shadow: 5px 5px black;
      color: white;
      width: 500px;
    }

    #user-info {
      display: flex;
      flex-direction: column;
      font-family: Cheto;
      font-size: 15px;
      flex-grow: 1;
      gap: 5px;
    }



    #profile-photo-container {
      border: 2px solid black;
      display: flex;
      justify-content: center;
      align-content: center;
      background-color: snow;
      padding: 20px;
      border-radius: 5px;
    }

    .info-item {
      display: flex;
      justify-content: space-between;
    }

    #photo-container {
      overflow: hidden;
      object-fit: contain;
      position: relative;
      width: 200px;
      height: 200px;
    }

    #profile-photo-image {
      position: absolute;
      width: 200px;
      height: 200px;
      object-fit: cover;
    }


    #crop-filter {
      width: 100%;
      height: 100%;
      position: absolute;
      background-color: seagreen;
      mask: radial-gradient(transparent 0%, transparent 69%, seagreen 70%);
      z-index: 5;
    }


    #profile-image {
      width: 100%;
      height: auto;
      object-fit: contain;
    }

    #log-out-button {
      background-color: coral;
      font-family: Cheto;
      color: white;
      padding: 5px;
      border-radius: 5px;
      margin-top: 5px;
    }

    #log-out-button:hover {
      background-color: salmon;
    }

    #log-out-button:active {
      transform: scale(0.95)
    }
  </style>

  <h1 id="username-container">
    {{ .Username }}
  </h1>
  <div id="profile-subcontainer">
    <div id="user-info">
      <div class="info-item">
        <span>
          Friends:
        </span>
        <span>
          {{ .NumFriends }}
        </span>
      </div>
      <div class="info-item">
        <span>
          Current Games:
        </span>
        <span>
          {{ .NumGames }}
        </span>
      </div>
      <div class="info-item">
        <span>Email:</span>
        <span>{{ .Email }}</span>
      </div>

      <button id="log-out-button" hx-post="/auth/profile/logout" hx-target="#page-content" hx-swap="innerHTML">
        Log Out
      </button>

    </div>

    <div id="photo-container">
      <img id="profile-photo-image" src="https://d2ell5qlj9nplo.cloudfront.net/profile-photos/{{ .Username}}"
        alt="{{ .Username }}-profile-photo">
      <div id="crop-filter" hx-get="/auth/profile/ui/profile-photo" hx-target="#page-content"></div>

    </div>

  </div>
  {{ end }}
