{{ define "search-bar" }}
<style>
  #search-friends-container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    background-color: skyblue;
    border: 2px solid black;
    box-shadow: 5px 5px black;
    border-radius: 10px;
  }

  #search-bar-container {
    background-color: peachpuff;
    height: 30px;
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    padding: 7.5px;
  }

  #search-input {
    font-family: Aruma;
    font-size: 25px;
    flex-grow: 1;
    background: transparent;
    border: none;
    outline: none;
  }

  #search-input:focus:hover {
    border: none;
    outline: none;
  }

  #search-icon {
    display: block;
    justify-self: end;
  }

  .table {
    font-family: Aruma;
    font-size: 20px;
  }


  thead,
  tfoot {
    background-color: rgb(228 240 245);
  }

  tr {
    border: 2px solid blue;
  }

  .user-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }



  .spacer-div {
    flex-grow: 1;
  }

  .username-container {
    font-size: 25px;
    padding-left: 5px;
  }

  .photo-container {
    overflow: hidden;
    object-fit: contain;
    position: relative;
    width: 30px;
    height: 30px;
  }

  .profile-photo-image {
    left: 0;
    position: absolute;
    width: 30px;
    height: 30px;
    object-fit: cover;
  }

  .crop-filter {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    background-color: skyblue;
    mask: radial-gradient(transparent 0%, transparent 69%, skyblue 70%);
    z-index: 5;
  }



  button {
    background-color: darkgreen;
    color: antiquewhite;
    padding: 10px 7.5px;
    border-radius: 5px;
    border: 2px solid khaki;
    font-family: Aruma;
    font-size: 20px;
  }

  #search-results {
    margin-top: 10px;
  }


  #friend-requests-container,
  #my-friends-container {
    display: inline-block;
    padding: 20px;
  }
</style>

<form id="search-friends-container">
  <div id="search-bar-container">
    <input id="search-input" type="search" name="search" placeholder="Begin Typing To Search Users..."
      hx-post="/auth/friends/search{{ if .GameId }}?game-id={{.GameId}}{{ else }}?game-id=-1{{ end }}"
      hx-trigger="input changed delay:500ms, search" hx-target="#search-results">
    <img id="search-icon" src="https://d2ell5qlj9nplo.cloudfront.net/static/search_icon.svg">
  </div>

  <table class="table">
    <tbody id="search-results">
    </tbody>
  </table>
</form>

{{ end }}
