#boxes {
  position: relative;
}

.box:nth-of-type(1) {
  --box-index: 1;
  border-color: yellow transparent transparent yellow;
}

.box:nth-of-type(2) {
  --box-index: 2;
  border-color: orange transparent transparent orange;
}

.box:nth-of-type(3) {
  --box-index: 3;
  border-color: red transparent transparent red;
}

.box:nth-of-type(4) {
  --box-index: 4;
  border-color: pink transparent transparent pink;
}

.box:nth-of-type(5) {
  --box-index: 5;
  border-color: purple transparent transparent purple;
}

.box:nth-of-type(6) {
  --box-index: 6;
  border-color: blue transparent transparent blue;
}
.box:nth-of-type(7) {
  --box-index: 7;
  border-color: turquoise transparent transparent turquoise;
}

.box:nth-of-type(7) {
  --box-index: 7;
  border-color: lightblue transparent transparent lightblue;
}
.box {
  position: absolute;
  width: calc(500px - var(--box-index) * 10px);
  height: calc(500px - var(--box-index) * 20px);
  margin-top: calc(5px * var(--box-index));
  margin-left: calc(4.5px * var(--box-index));
  border: solid 5px;
  border-radius: 90%/50% 0 0 0 ;
  clip-path: polygon(0% 0%, 100% 0%, 100% 25%, 0% 25%);
}

/**/
/* .box:nth-of-type(1) { */
/*   position: absolute; */
/*   width: 500px; */
/*   height: 500px; */
/*   border: solid 5px; */
/*   border-color: black transparent transparent black ; */
/*   border-radius: 90%/50% 0 0 0 ; */
/*   clip-path: polygon(0% 0%, 100% 0%, 100% 25%, 0% 25%); */
/* } */
/**/
/* .box:nth-of-type(2) { */
/*   position: absolute; */
/*   margin-top: 5px; */
/*   margin-left: 4.5px; */
/*   width: 490px; */
/*   height: 480px; */
/*   border: solid 5px; */
/*   border-color: green transparent transparent green ; */
/*   border-radius: 90%/50% 0 0 0 ; */
/*   clip-path: polygon(0% 0%, 100% 0%, 100% 25%, 0% 25%); */
/* } */


/* #path-test { */
/*   width: 500px; */
/*   height: 500px; */
/*   background-color: blue; */
/*   clip-path: polygon(0% 0%, 100% 0%, 100% 25%, 0% 25%); */
/* } */


